.concepts {
  .crystal-header {
    margin-top: 30px;
  }

  .concept {
    display: inline-block;
    width: 50%;
    height: 140px;
    padding: 15px;
    border: solid 1px rgb(209, 209, 209);
    border-top: none;
    text-align: center;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }

    &:nth-child(even) {border-right: none; border-left: none;};
    &:nth-child(odd) {border-left: none};
    &:last-child,
    &:last-child(2){
      border-bottom: none;
    };

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
