.navigation-bar {
  height: 55px;
  background: rgb(199, 199, 199)  ;

  & > * {
    text-align: center;
  }

  :nth-child(2) {
    border-style: solid;
    border-width: 0 1px;
    border-color: rgb(98, 98, 98);
  }

  button {
    background: none;
    border: none;
  }
}
